extends ../layout

block content
  h1 Edit task view

  form(method='post', action='/tasks/' + task.id)
    input(name='_method', value='PUT', type='hidden')
    fieldset
      legend Editing task
      div.clearfix(style="padding:8px;background-color:#ccc")
        label Task
        div.input
          input(name='task[task]', class='input-xlarge', value="#{task.task}")
        
      div.actions(style="padding:8px;background-color:#aaa")
        input(type='submit', value='Save', class='btn')
        button.btn(type='reset') Cancel
